doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Layout - Title 
        block variables
        link(rel="stylesheet", href=`${styleName}`)
    body 
        include ../components/header
        block content
        script(src=`${scriptRoute}`)
