extends ../layout/layout

block variables
    - let styleName = '../style/home.css';
    - let scriptRoute = 'js/home.js';
block content
    div(class="container-puggy")
        h1 AYE, AYE, SIR.
        h2 Home Sweet Home!
